.admin_user_skill {
    width: 70px;
    height: 70px;
    position: relative;
}

.admin_user_outer {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    padding: 20px;
    box-shadow:
        6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.admin_user_inner {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
        inset 4px 4px 6px -1px rgba(0, 0, 0, 0.15),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
    font-weight: 500;
    color: gray;
    font-size: 16px;
    z-index: 999999;
}

.admin_progress_bar_svg {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 15px;
    transition: stroke-dashoffset 0.3s ease;
}
