.users_body_container {
    height: 100%;
    /* width: 99.4%; */
    margin: 0 5px 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.users_body_second_container {
    border-radius: 20px;
    /* padding: 10px; */
    /* width: 100%; */
    height: 100%;
}
.users_body_second_container::-webkit-scrollbar {
    display: none;
}

/* users digital meter style starts here */
.allusers_digitalview_main_container {
    display: flex;
    justify-content: space-evenly;
}
.allusers_digitalview_main_container > div {
    width: 300px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    color: white;
    overflow: hidden;
    /* padding: 10px; */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.549);
}
.allusers_digitalview_main_container > div > p {
    margin: 0;
    padding: 10px 0;
}
/* users digital meter style ends here */
.users_SingleDigitalMeterView_main_container {
    background: black;
    height: 91vh;
    width: 96vw;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.users_SingleDigitalMeterView_close_container {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    font-size: 22px;
    cursor: pointer;
}
.allusers_digitalview_main_container_header_container {
    background: gray;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.allusers_digitalview_main_container_header_container > p {
    margin: 0;
    padding: 5px 8px;
    color: rgba(255, 255, 255, 0.801);
}
.allusers_digitalview_main_container_header_container > div {
    display: flex;
}
.allusers_digitalview_main_container_header_container > div > div {
    padding: 5px 10px;
    background: rgb(103, 103, 103);
    cursor: pointer;
    font-size: 20px;
}
.allusers_digitalview_main_container_header_container > div > div:first-child {
    border-right: 2px solid gray;
}
