@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

.users_navbar_container {
  background-color: rgb(25, 30, 49);
  position: relative;
  display: flex;
  justify-content: start;
}

.users_navbar_user_details {
  display: flex;
  flex-direction: column;
}

.users_navbar_user_details > p {
  margin: 0;
  font-size: 18px;
}

.users_navbar_container > div {
  display: flex;
  color: white;
  align-items: center;
  position: relative;
  justify-content: center;
}

.users_navbar_link {
  margin: 0;
  padding: 10px 30px;
  font-size: 13px;
  line-height: 1.7rem;
  cursor: pointer;
  background-color: rgb(25, 30, 49);
  font-family: "Roboto", sans-serif;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: white;
}

.active {
  background: rgb(221, 223, 255) !important;
  color: black !important;
  font-weight: 500;
}

.users_navbar_link:hover {
  background: rgb(221, 223, 255) !important;
  color: black;
}

.users_navbar_link_separator {
  width: 1px;
  height: 100%;
  background: white;
}

/* mobile navbar style starts here */
.users_mobile_navbar_container {
  justify-content: space-between;
  background-color: rgb(25, 30, 49);
  position: relative;
  width: 100vw;
  color: white;
  align-items: center;
  padding: 0 30px;
  user-select: none;
}

.users_mobile_navbar_container > div {
  display: flex;
  align-items: center;
  height: 100%;
}

.users_mobile_navbar_left {
  margin: 0;
  padding: 13px 0;
  display: flex;
  gap: 4px;
  font-size: 24px !important;
}

.users_mobile_navbar_right {
  font-size: 30px;
  cursor: pointer;
}

.users_mobile_navbar_show_menu {
  width: 100%;
  left: 0;
  max-height: min-content;
  position: absolute;
  background: rgb(25, 30, 49);
  bottom: -100%;
  z-index: 999999;
  display: flex;
  flex-direction: column;
}

.users_mobile_navbar_show_menu_navlink {
  margin: 0;
  width: 100%;
  padding: 20px 30px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  background: rgb(25, 30, 49);
  border-bottom: 1px solid rgba(128, 128, 128, 0.387);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.users_mobile_navbar_show_menu_navlink:hover {
  color: white !important;
  background: black !important;
}

.users_mobile_navbar_show_menu_logout_container {
  padding: 10px 0;
  background: red;
  width: 100%;
  display: flex;
  justify-content: center;
}

.users_mobile_navbar_show_menu_logout_container > button {
  border-radius: 20px;
  padding: 3px 10px;
  border: none;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 20px;
  color: white;
  background: transparent;
}
/* mobile navbar style ends here */

/* company name style starts here (Updated from old project) */
.users_navbar_separate_container {
  display: flex;
  justify-content: space-between;
}

.users_navbar_separate_first_div {
  width: 20%;
  display: flex;
  height: 100px;
  padding-left: 20px;
  align-items: center;
}

.users_navbar_separate_first_div > div:first-child > img {
  width: 75%;
  margin-top: 8px;
}

.users_navbar_separate_first_div > div:last-child > p {
  margin: 0;
  margin-left: 16px;
  font-size: 24px;
  font-weight: bolder;
  color: rgb(6, 46, 246);
  transform: translateY(-10px);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.364);
}

.users_navbar_separate_second_div {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.users_navbar_separate_second_div > p {
  margin: 0;
  line-height: 1.7rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.126);
}

.users_navbar_separate_second_div > p:first-child {
  font-size: 30px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.449);
}

.users_navbar_separate_second_div > p:last-child {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  gap: 10px;
  color: rgba(0, 0, 0, 0.656);
}

.users_navbar_separate_thrid_div {
  width: 20%;
  display: flex;
  align-items: end;
  padding-right: 20px;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.users_navbar_separate_thrid_div_child {
  position: absolute;
  border-radius: 10px;
  bottom: -90%;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  min-width: max-content;
  padding: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.218);
  z-index: 999999999;
}

.users_navbar_separate_thrid_div_child > p {
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: 1px solid rgb(227, 227, 227);
  display: flex;
  align-items: center;
  gap: 4px;
}

.users_navbar_separate_thrid_div_child > p:hover {
  background: red;
  color: white;
}
/* company name style ends here */

/* mediaquery starts here */
@media (width > 900px) {
  .users_mobile_navbar_container {
    display: none;
  }
  .users_navbar_container {
    display: grid;
  }
}

@media (width < 900px) {
  .users_mobile_navbar_container {
    display: flex;
  }
  .users_navbar_container {
    display: none;
  }
  .users_navbar_separate_container {
    display: none;
  }
}
/* mediaquery ends here */